.ringform-title{
  display: flex;
}

.ringform-title h2 {
  padding: 10px;
  padding-left: 3%;
}

.ringform-title form {
  display: flex;
  flex-direction: column;
  width: 100%;  
  max-width: 673px;
  margin: auto;
  overflow-y: auto;
  padding-left: 4%;
  height: 680px;
  position: relative;
}

.input-form .dropdown-toggle {
  width: 100%;
  max-width: 400px;
  }

  .input-form {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    }

.ringform-title button {
  width: 25%;
  max-width: 550px;
}

form .input-form{
  padding-left: 5px;
  padding-right: 5px;
}

.ringform-title-header {
  color: #0d6efd; 
  font-size: 1.75rem;
}

.header-with-reset {
  display: flex;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin-bottom: 10px;
  /* background-color: rgb(88, 163, 229); */
  padding-top: 1rem;
}

.reset-button {
  margin-left: 20px;
  height: 20%;
  margin-top: 15px;
  border-color: #0d6efd !important;
  border-radius: 5px;
}

.my-card{
  /* max-height: 100%; */
}

.show-dropdown {
    width: 60%;
    color: black;
}

.input-form .dropdown-toggle {
  background-color: transparent;
  color: black;
  border: 1px solid #ced4da; 
  width: 60%;
  text-align: left;
}

.input-form .dropdown-menu .dropdown-item {
  background-color: transparent;
  color: black;
}

.bold {
    font-weight: bold;
}

.cost-summary {
  margin-left: 45px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 160px;
  height: 43px;
  margin-top: 13px;
}

/* Total cost display */
.cost-summary h2 {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  padding-left: 20px;
}

#cost-p{
  position: absolute;
  left: 85%;
  margin: -30px;
}
