.app-container {
  display: flex;
  justify-content: space-between;
}

.form-side {
  width: 40%;
  /* padding: 0px; */
  background-color: #f4f4f4;
}


.canvas-side {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid #ccc;
}

.options
{
  position: absolute;
  right: 25px;
  top:26px;
  z-index: 999999;
}


