.app-container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.form-side {
  width: 40%;
  padding: 20px;
  background-color: #f4f4f4;
}

.canvas-side {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid #ccc;
}
